<h1>New Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :movie, as: :select, collection: Movie.all, label: 'Select Movie' %>
  <%= f.association :comment, label: 'Comment' %>
  <%= f.association :roles %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', @list %>
